{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".ios.js", ".android.js", ".js", ".ts", ".tsx", ".json"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens/",
          "@theme": ".src/theme",
          "@modal": "./src/components/modal",
          "@images": "./src/assets/images/"
        }
      }
    ]
  ]
}
